<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4JCS2dqEinavJrt15glU4x5Or8cu3l10</string>
	<key>GCM_SENDER_ID</key>
	<string>293196742594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksymlakhman.freelance-app-30</string>
	<key>PROJECT_ID</key>
	<string>freelanceapp30-ebd1d</string>
	<key>STORAGE_BUCKET</key>
	<string>freelanceapp30-ebd1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293196742594:ios:4138a61bbcfa49776aa05b</string>
</dict>
</plist>